
<div id='right_content'  style='width:1000px;margin:0 auto;border:1px solid #EBEBEB'>

<div style="text-align:center;width: 80%;margin-bottom: 40px;">
	Welcome {{profile.first_name}} {{profile.last_name}}, please complete your registration:	
</div>
		
		<form name="profile" action="/profile/" method="post">
			{% csrf_token %}
			{{ additional_form.non_field_errors }}
			<table>
				{%for field in additional_form %}
				
				<tr>
					<td>
						{{field.label}}			
					</td>
					<td>
						{{field}}
						{{field.errors}}
					</td>
					<td>
						
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan=2>
						<input type="submit" value="Complete Registration" text="SignUp" />
					</td>
				</tr>
			</table>
		</form>
</div>