<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block head_title %}.: Axinite :. - Intra Social Network{% endblock head_title%}</title>
		<meta name="description" content="{% block head_meta_description %}Axinite - Intra Social Network{% endblock head_meta_description %}">
		<meta name="keywords" content="{% block head_meta_keywords %}Axinite,Intra Social Network{% endblock head_meta_keywords %}">
		{% block html_head%}
			{% include 'base/html_head.html'%}
		{% endblock html_head%}
		{% block html_head_extras %}
		{% endblock html_head_extras%}
	</head>
	<body>
		{% block html_body%}
			{% block header %}
				{% include 'base/header.html' %}
			{% endblock header %}
			<div class="container">
				<div id='content'>
					{% block content %}
					{% endblock content %}
				</div>
				{% block footer %}
					{% include 'base/footer.html' %}
				{% endblock footer %}
			</div>
		{% endblock html_body%}
	</body>
</html>