<html>
	{% block html_doc%}
	<head>
		{% block html_head%}
			{% include 'base/html_head.html'%}
		{% endblock html_head%}
	</head>
	<body>
		<style>
			*{
			 	margin: 0px;
			 	padding: 0px;
			}
			#container, #header, #footer{
				width: 1000px !important;
				margin: 0 auto;
			}
			#header{
				height: 80px;
				background: #E7E5E6;
				margin-bottom:10px;
			}
			#content{
				height: 600px;
				margin-top: 10px;
			}
			#footer{
				margin-top:10px;
				height: 20px;
				background: #E7E5E6;
			}
		</style>
		{% block html_body%}
			<div id='header'>
				{% block header %}
					{% include 'base/header.html' %}
				{% endblock header %}
			</div>
			<div id='container'>
				<div id='content'>
					{% block content %}
					{% endblock content %}
				</div>

			</div>
			<div id='footer'>
				{% block footer %}
					{% include 'base/footer.html' %}
				{% endblock footer %}
			</div>
		{% endblock html_body%}
	</body>
	{% endblock html_doc%}
</html>